{% load static %}

<!-- partial:../../partials/_footer.html -->
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script>
          . CredenceRewards <a
                href="https://credencerewards.com" target="_blank">CredenceRewards</a>
            All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Develpoped and Designed by CredenceRewards Team
           
    </div>
</footer>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<script src="{% static 'assets/jquery.min.js' %}"></script>

<script>
  // show alert message for notification

  function showSnackbar() {
    var snackBar =
      document.getElementById("snackbar")
    snackBar.className = "show-bar";

    setTimeout(function () {
      snackBar.className =
        snackBar.className.replace("show-bar", "show-error");
    }, 5000);
  }

</script>
{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
<script>
  showSnackbar();
  $('#snackbar').css("cssText", "background-color: red !important;");
  $('#snackbar').text("{{ message|safe }}");
</script>
{% else %}
<script>
  showSnackbar();
  $('#snackbar').css("cssText", "background-color: green !important;");
  $('#snackbar').text("{{ message|safe }}");
</script>
{% endif %}
{% endfor %}
{% endif %}

<!-- js -->
<script>
    $(document).on('click', '.custom-clickable-row', function (e) {
        var url = $(this).data('href');
        window.location = url;
    });
</script>

<!-- plugins:js -->
<script src="{% static 'admin-asset/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'admin-asset/vendors/chart.js/Chart.min.js' %}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'admin-asset/js/off-canvas.js' %}"></script>
<script src="{% static 'admin-asset/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin-asset/js/template.js' %}"></script>
<script src="{% static 'admin-asset/js/settings.js' %}"></script>
<script src="{% static 'admin-asset/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'admin-asset/js/dashboard.js' %}"></script>
<script src="{% static 'admin-asset/js/Chart.roundedBarCharts.js' %}"></script>
<!-- End custom js for this page-->
</body>

</html>