{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
<style>
   .row {
      border: 0px solid;
      padding: 4px;
      margin-bottom: 50px;
      font-size: 20px;
   }

   .col-2 .cols_2 {
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      font-family: "Times New Roman", Times, serif;

   }

   .col-4 {
      font-family: Arial, Helvetica, sans-serif;
      color: black;

   }
   h1{
      font-family: 'Dancing Script', cursive;
   }
   
</style>
<div class="content-body">
   <div class="container-fluid">
      <div class="page-titles text-center fs-550 text-info font-weight-bold">
         <h1>Voucher Details</h1>
      </div>
      <div class="row">
         <div class="col-xl-12">
            <div class="card">
               <div class="card-body">
                  <div class="row text-primary">
                     <div class="col-2 align-self-start">
                        ID
                     </div>
                     <div class="col-4 align-self-center">
                        {{voucher.id}}
                     </div>
                     <div class="col-2 align-self-end">
                        Voucher Amount
                     </div>
                     <div class="col-4 align-self-end">
                        {{voucher.amount}}
                     </div>
                  </div>
                  <div class="row text-primary">
                     <div class="col-2 align-self-start">
                        Code
                     </div>
                     <div class="col-4 align-self-center">
                        {{voucher.code}}
                     </div>
                     <div class="col-2 align-self-end">
                        Pin
                     </div>
                     <div class="col-4 align-self-end">
                        {{voucher.pin}}
                     </div>
                  </div>
                  <div class="row text-primary">
                     <div class="col-2 align-self-start">
                        Status
                     </div>
                     <div class="col-4 align-self-center">

                        {% if voucher.transaction_id %}
                        <i class="fa fa-circle text-success mr-1">Used</i>
                        {% else  %}
                        <i class="fa fa-circle text-danger mr-1">Not Used</i>
                        {% endif %}
                     </div>
                     <div class="col-2 align-self-end">
                        Expiry
                     </div>
                     <div class="col-4 align-self-end">
                        {{voucher.expiry}}
                     </div>
                  </div>
                  <div class="row text-primary">
                     <div class="col-2 align-self-start">
                        Transaction ID
                     </div>
                     <div class="col-4 align-self-center">
                        {% if voucher.transaction_id %}
                        {{ voucher.transaction_id }}
                        <a title="View Transaction" href="{% url 'wallet:view_transaction' voucher.id %}"
                           id="update-btn" class="btn btn-success shadow btn-xs sharp mr-1">
                           <i class="fa fa-eye"></i></a>
                        {% else %}
                        Transaction not Exist
                        {% endif %}
                     </div>
                     <div class="col-2 align-self-end">
                        Transacted At
                     </div>
                     <div class="col-4 align-self-end">
                        {{voucher.transacted_at}}
                     </div>
                  </div>
                  <div class="row text-primary">

                     <div class="col-2 align-self-end">
                        Client
                     </div>
                     <div class="col-4 align-self-end">
                        {% if voucher.client %}
                        {{ voucher.client }}
                        <a title="View Client" href="{% url 'wallet:view_client' voucher.client.id %}"
                           id="update-btn" class="btn btn-success shadow btn-xs sharp mr-1">
                           <i class="fa fa-eye"></i></a>
                        {% else %}
                        Client not Exist
                        {% endif %}
                     </div>
                     <div class="col-2 align-self-start">
                        Created On
                     </div>
                     <div class="col-4 align-self-center">
                        {{voucher.created_on}}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
             <div class="card card-table">
                 <div class="card-body">
                     <nav class="custom-navbox new">
                         <div class="nav nav-tabs" role="tablist">
                             <a class="nav-item nav-link active" data-toggle="tab" href="#homemembers">Transaction</a>
                             <a class="nav-item nav-link" data-toggle="tab" href="#eventview">Client</a>
                         </div>
                     </nav>
                     <br>
                     <div class="tab-content">
                         <div class="tab-pane fade in active show" id="homemembers">
                             <div class="row">
                                 <div class="col-12">
                                     <div class="card">
                                         <div class="card-body p-0">
                                             <div class="table-responsive">
                                                 <table class="table table-responsive-md">
                                                     <thead>
                                                         <tr>
                                                             <th><strong>ID</strong></th>
                                                             <th><strong>Name</strong></th>
                                                             <th><strong>Email</strong></th>
                                                             <th><strong>Mobile No. </strong></th>
                                                             <th><strong>Total Vouchers </strong></th>
                                                             <th><strong>Status </strong></th>
                                                         </tr>
                                                     </thead>
                                                     {% if transaction %}
                                                     <tbody>
                                                         <tr>
                                                             <td><strong>{{ transaction.id }}</strong></td>
                                                             <td>
                                                                 <div class="d-flex align-items-center">
                                                                     <img src="/static/admin-asset/images/dp.png"
                                                                         class="rounded-lg mr-2" width="24" alt="">
                                                                     <span class="w-space-no">{{ transaction.name }}</span>
                                                                 </div>
                                                             </td>
                                                             <td>
                                                                 <div class="d-flex align-items-center">
                                                                     <span class="w-space-no">{{ transaction.email }}</span>
                                                                 </div>
                                                             </td>
                                                             <td> 
                                                               {{ transaction.mobile_no }}
                                                                 </td>
                                                             <td>
                                                                 <span class="badge badge-info">
                                                                     {{ transaction.total_items }}
                                                                 </span>
                                                             </td>
                                                             <td>
                                                                 <span class="w-space-no">
                                                                    {{ transaction.status }}
                                                                 </span>
                                                             </td>
                                                            
                                                         </tr>
                                                         {% else %}
                                                         <tr><td colspan="8">Transaction not found</td></tr>
                                                         {% endif %}
                                                     </tbody>
                                                 </table>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="tab-pane" id="eventview">
                             <div class="row">
                                 <div class="col-12">
                                     <div class="card">
                                         <div class="card-body">
                                             <div class="table-responsive">
                                                <table class="table table-responsive-md">
                                                   <thead>
                                                       <tr>
                                                           <th><strong>ID</strong></th>
                                                           <th><strong>Name</strong></th>
                                                           <th><strong>Email</strong></th>
                                                           <th><strong>Mobile No. </strong></th>
                                                           <th><strong>Username </strong></th>
                                                           <th><strong>Status </strong></th>
                                                       </tr>
                                                   </thead>
                                                   {% if voucher.client %}
                                                   <tbody>
                                                       <tr>
                                                           <td><strong>{{ voucher.client.id }}</strong></td>
                                                           <td>
                                                               <div class="d-flex align-items-center">
                                                                   <img src="/static/admin-asset/images/dp.png"
                                                                       class="rounded-lg mr-2" width="24" alt="">
                                                                   <span class="w-space-no">{{ voucher.client.name }}</span>
                                                               </div>
                                                           </td>
                                                           <td>
                                                               <div class="d-flex align-items-center">
                                                                   <span >{{ voucher.client.email }}</span>
                                                               </div>
                                                           </td>
                                                           <td> 
                                                             {{ voucher.client.mobile_no }}
                                                               </td>
                                                           <td>
                                                               <span class="badge badge-info">
                                                                   {{ voucher.client }}
                                                               </span>
                                                           </td>
                                                           <td>
                                                               <span class="w-space-no">
                                                                  {{ transaction.status }}
                                                               </span>
                                                           </td>
                                                          
                                                       </tr>
                                                       {% else %}
                                                       <tr><td colspan="8">Transaction not found</td></tr>
                                                       {% endif %}
                                                   </tbody>
                                               </table>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                     </div>
                 </div>
             </div>
         </div>
     </div>
   </div>
{% endblock %}

{% include "admin-includes/footer.html" %}