{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}

<div class="content-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<li class="nav-item">
					<form method="get" action="{% url 'wallet:voucher_list' %}">
						<div class="input-group search-area ml-auto d-inline-flex header-searchbox">
							<input type="text" name="q" class="form-control searchbar" placeholder="Search">
							<div class="input-group-append">
								<button type="submit" class="input-group-text">
									<i class="flaticon-381-search-2"></i></button>
							</div>
						</div>
					</form>
				</li>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header d-flex justify-content-between align-items-center">
						<h4 class="card-title">Vouchers</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive table-striped">
							<table class="table table-responsive-md" style="border-bottom:3px solid gray">
								<thead>
									<tr>
										<th><strong>ID</strong></th>
										<th><strong>Code</strong></th>
										<th><strong>Amount</strong></th>
										<th><strong>Expiry</strong></th>
										<th><strong>Transaction Id</strong></th>
										<th><strong>Status </strong></th>
										<th><strong>Actions </strong></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										{% if vouchers %}
										{% for voucher in vouchers %}
										<td><strong>{{ voucher.id }}</strong></td>
										<td>
											<div class="d-flex align-items-center">
												<span class="w-space-no">{{ voucher.code }}</span>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<span class="w-space-no">{{ voucher.amount }}</span>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<span class="w-space-no">{{ voucher.expiry }}</span>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<span class="w-space-no">{{ voucher.transaction_id }}</span>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<div class="d-flex align-items-center">
													{% if voucher.transaction_id %}
													<i class="fa fa-circle text-success mr-1">Used</i>
													{% else  %}
													<i class="fa fa-circle text-danger mr-1">Not Used</i>
													{% endif %}<i class="bi bi-eye"></i>
												</div>
											</div>
										</td>
										<td>
											<div class="d-flex">
												{% comment %} <a title="Edit Voucher"
													href="{% url 'payouts:edit_voucher' %}?id={{voucher.id}}"
													class="btn btn-primary shadow btn-xs sharp mr-1">
													<i class="fa fa-pencil"></i></a> {% endcomment %}
												<a title="View Voucher"
													href="{% url 'wallet:view_voucher' voucher.id %}" id="update-btn"
													class="btn btn-success shadow btn-xs sharp mr-1">
													<i class="fa fa-eye"></i></a>
												{% comment %} <a onclick="return confirm('Are you sure you want to delete this User?');"
													href="{% url 'wallet:delete_voucher' voucher.id %}"
													class="btn btn-danger shadow btn-xs sharp mr-1">
													<i class="fa fa-trash"></i></a> {% endcomment %}
											</div>
										</td>
									</tr>
									{% endfor %}
									{% else %}
									<td colspan="8" align=center> No Data Found </td>
									{% endif %}
								</tbody>

							</table>
						</div>
						{% if vouchers.has_other_pages %}
						<div class="row mt-2">
							<ul class="pagination">

								{% if vouchers.has_previous %}
								<li><a href="?page={{ vouchers.previous_page_number }}"><i class="fa fa-chevron-left"
											aria-hidden="true"></i></a></li>
								{% else %}
								<li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
								</li>
								{% endif %}

								{% if vouchers.number|add:'-9' > 1 %}
								<li><a href="?page={{ vouchers.number|add:'-9' }}">&hellip;</a></li>
								{% endif %}

								{% for i in vouchers.paginator.page_range %}
								{% if vouchers.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
								{% elif i > vouchers.number|add:'-8' and i < vouchers.number|add:'8' %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
								{% endif %}
								{% endfor %}

								{% if vouchers.paginator.num_pages > vouchers.number|add:'9' %}
								<li><a href="?page={{ vouchers.number|add:'9' }}">&hellip;</a></li>
								<li><a href="?page={{ last_page }}">Last</a></li>
								{% endif %}

								{% if vouchers.has_next %}
								<li><a href="?page={{ vouchers.next_page_number }}"><i class="fa fa-chevron-right"
											aria-hidden="true"></i></a></li>
								{% else %}
								<li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
								</li>
								{% endif %}
							</ul>
						</div>
						{% endif %}
					</div>

					<div class="row" style="margin-top:30px;">
						<div class="col-3 text-right font-weight-bold text-success">
							Used Vouchers :
						</div>
						<div class="col-3 text-left font-weight-bold text-dark">
							<h3>{{ usedvouchers }}</h3>
						</div>
						<div class="col-3 text-right font-weight-bold text-success">
							Un-Used Vouchers :
						</div>
						<div class="col-3  text-left font-weight-bold text-dark">
							<h3>{{ unusedvouchers }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>


{% endblock %}
{% include "admin-includes/footer.html" %}