{% extends 'frontend/base.html' %}
{% load static %}
{%block content %}
<style>
  #login .container #login-row #login-column #login-box {
    margin-top: 20px;
    margin-bottom: 120px;
    max-width: 600px;
    height: 380px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }

  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }

  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
</style>

<section data-bs-version="5" class="numbers1 cid-sz56uYA5zF"
  style="background-image: url({% static 'assets/images/cr-images/credence.png' %});" id="numbers01-a">
  <div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12 rounded">
            <form id="login-form" class="form " action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
              <h3 class="text-center  text-dark"> Login</h3>
              <div class="form-group text-center">
                <label for="username" class="text-info">Email:</label><br>
                <input type="email" name="email" required id="email" placeholder="Email" class="form-control">
              </div>
              <div class="form-group text-center">
                <label for="password" class="text-info">Password:</label><br>
                <input type="password" name="password" required id="password" placeholder="Password" class="form-control">
              </div>
              <div class="form-group">
                <label for="remember-me" class="text-info"><span>Remember me</span> <span>
                  <input id="remember-me" name="remember_me" type="checkbox"></span></label><br>
                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
              </div>
              <div id="register-link" class="text-right mx-3" style="float:right">
                <a class="text-info">Register here</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <script src="{% static 'assets/jquery.min.js' %}"></script>

  <script type="text/javascript"
    src="{% static 'assets/jquery-validate.js' %}"></script>

<script type="text/javascript">
    jQuery.validator.addMethod("noSpace", function(value, element) { 
        return value.indexOf(" ") < 0 && value != ""; 
      }, "Space are not allowed");

    $("#login-form").validate({
        rules: {
            email: {
                required: true,
                email: true,
                noSpace: true
            },
            password: {
                required: true,
                minlength: 8,
            },
        },
        messages: {
            email: {
                required: "Please enter email address",
                email: "Please enter a valid email address, make sure there are no spaces."
            },
            password: {
                required: "Please enter password",
                minlength: jQuery.validator.format("Your password must be 8 characters long")
            },
        }
    });
</script>

{% endblock %}