{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
{% load extras %}
<style>
	
	.pagination a {
	  color: black;
	  float: left;
	  border-radius: 5px;
	  transition: background-color .3s;
	  border: 1px solid #ddd; /* Gray */
	  margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
	  font-size: 11px;

	  padding: 4px 6px;
	  background:lightgray;
	  text-decoration: none;
	}
	.pagination .active{
	  background-color: lightgreen !important;
	  color: white !important;
			  font-size: 11px !important;
			  padding: 4px 6px !important;
			  border-radius: 5px;
	}
	.pagination a.active {
	  margin-top:15px !important;
	  background-color: lightgreen !important;
	  color: white !important;
	  font-size: 16px !important;
	  padding: 4px 	6px !important;
	  border-radius: 5px;
	}
	.pagination a:hover:not(.active) {
	  background-color: darkgray;
  }

</style>
<!-- partial -->
<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Check Balance Order/Tasks
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-outline-primary bg-light border  p-2 mr-2 float-right"
							data-toggle="modal" data-target="#Upload-Vouchers-Modal">
							<i class="ti-upload text-dark mr-2 ml-1"></i> <b>Upload</b>
						</button>
					</h4>
					<p class="card-description">
						Orders
					</p>
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Order_id</th>
									<th>Remark</th>
									<th>Vouchers</th>
									<th>Total Data Vouchers</th>
									<th>Created On</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{% if orders %}
								{% for order in orders %}
								<tr style="cursor:pointer;" class="custom-clickable-row font-weight-bold"
									data-href="{% url 'balance_checker:order_vouchers' order.id %}">
									<td>{{ order.id }}</td>
									<td> {{ order.user_remark|default_if_none:"--" }} </td>
									<td> {{ order.total_vouchers }} </td>
									<td>{{ order.order_voucher.all|length }}</td>
									<td> {{ order.created_on.date }} </td>
									<td class="text-center">
										{{ order.id|order_status|safe }}
										{% comment %} <div class="progress">5%
											<div class="progress-bar bg-danger" role="progressbar" style="width: 5%"
												aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="progress">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 60%"
												aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">60%</div>
										</div> {% endcomment %}
										
									</td>
								</tr>
								{% endfor %}
								{% else %}
								<tr>
									<td align="center" colspan="6">No order Found to display</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					{% if orders.has_other_pages %}
						<div class="col d-flex justify-content-center mt-2">
							<ul class="pagination">
								{% if orders.has_previous %}
								<li><a href="?page={{ orders.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">&laquo;</a></li>
								{% else %}
								<li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
								</li>
								{% endif %}
								{% if orders.number|add:'-9' > 1 %}
								<li><a href="?page={{ orders.number|add:'-9' }}{% if query %}&q={{ query }}{% endif %}">&hellip;</a></li>
								{% endif %}
								{% for i in orders.paginator.page_range %}
								{% if orders.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
								{% elif i > orders.number|add:'-8' and i < orders.number|add:'8' %}
								<li><a href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}">{{ i }}</a></li>
								{% endif %}
								{% endfor %}
								{% if orders.paginator.num_pages > orders.number|add:'9' %}
								<li><a href="?page={{ orders.number|add:'9' }}{% if query %}&q={{ query }}{% endif %}">&hellip;</a></li>
								<li><a href="?page={{ last_page }}{% if query %}&q={{ query }}{% endif %}">Last</a></li>
								{% endif %}

								{% if orders.has_next %}
								<li><a href="?page={{ orders.next_page_number }}{% if query %}&q={{ query }}{% endif %}">&raquo;</a></li>
								{% else %}
								<li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
								</li>
								{% endif %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content-wrapper ends -->

<!-- upload modal -->
<!-- Modal -->
<div class="modal fade" id="Upload-Vouchers-Modal" tabindex="-1" role="dialog" aria-labelledby="UploadVouchersModal"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered rounded" role="document">
		<div class="modal-content ">

			<div class="modal-header bg-info">
				<h5 class="modal-title " id="Upload-Vouchers-ModalTitle">Upload Excel File</h5>
				<button type=" button" class="close btn btn-danger bg-danger text-white" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="upload-form" onsubmit="return checkfile(this.file);" action="{% url 'balance_checker:upload_vouchers' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
			<div class="modal-body">
				<div class="row mt-0">
					<div class="col-12 text-center text-secondary">
						<i>Note: 	
						How to upload excel file ? </i>
						<a class="ml-2 border" href="{% static 'admin-asset/example/excel-desired-upload-format.xlsx' %}"> Download Format</a>
					</div>
					<div class="col-12 small py-2 text-center text-primary">
						10000 (10k) recods are able to be uploaded per upload. It is good to upload on daily basis and check for daily reports. 
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-12 col-form-label m-0">Enter Remark for your Order <small class="ml-4 text-warning">Help text of your Upload</small></label>
					<div class="col-sm-12">
					  <input type="text" maxlength="20"  name="remark" class="form-control" />
					</div>
				  </div>
				<div class="form-group">
					<label>Select Excel File to Upload</label>
					<input type="file" name="expfile" id="excel-file" accept=".xls,.xlsx" required class="file-upload-default">
					<div class="input-group col-xs-12">
						<input type="text" class="form-control file-upload-info"  disabled placeholder="Upload Image">
						<span class="input-group-append">
							<button class="file-upload-browse btn btn-info" type="button">Choose</button>
						</span>
					</div>
				</div>
				<div class="modal-footer border border-0 align-self-center">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success">Upload</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>
<!-- endupload modal -->
<script src="{% static 'assets/jquery.min.js' %}"></script>
<script src="{% static 'admin-asset/js/file-upload.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/jquery-validate.js' %}">
</script>
<script type="text/javascript">

$(document).ready(function() {
	$('#search-form').attr('action' , "{% url 'balance_checker:check_index' %}");
});


$("#upload-form").validate({
	rules: {
		expfile: {
			required: true,
		},
	},
	messages: {
		expfile: {
			required: "Select file to upload",

		},
	}
});

</script>
<script>
    function checkfile(sender) {
        var validExts = [".xlsx", ".xls"];
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                validExts.toString() + " types.");
            //document.getElementById("excel-file").value=' ';
            return false;
        } else return true;
    }
</script>
{% endblock %}
{% include "admin-includes/footer.html" %}