{% include "admin-includes/header.html" %} {% block content %} {% load static %}
{% load extras %}
<style>

  .content-wrapper{
	padding-top: 20px;
  }
</style>
<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title text-center">Add New User Records</h4>
					<div class="row">
						<div class="col-lg-6 border-right bg-light border-secondary">
							<h6 class=" text-center">Enter below feilds to Add New Record</h6>
							<form action="" id="add-new-record" method="post">
								{% csrf_token %}
								<h6 class="text-center text-info">Add New panel/Category/Source for records</h6>
								<div class="form-group row my-0">
									<label class="col-sm-12 col-form-label m-0">Enter Email</label>
									<div class="col-sm-12">
										<input type="text" maxlength="80" minlength="5" required name="email" class="form-control" />
									</div>
								</div>
								<div class="row"> 
									<div class="form-group col-lg-6 my-0">
										<label class="col-sm-12 col-form-label m-0">Enter Name</label>
										<div class="col-sm-12">
											<input type="text" maxlength="50" minlength="5" required name="name" class="form-control" />
										</div>
									</div>
									<div class="form-group col-lg-6 my-0">
										<label class="col-sm-12 col-form-label m-0">Enter Mobile No.</label>
										<div class="col-sm-12">
											<input type="text" maxlength="12" minlength="9" name="mobile_no" class="form-control" />
										</div>
									</div>
								</div>
								<div class="form-group my-0 row">
									<label class="col-sm-12 col-form-label m-0">Enter Remark for your Order</label>
									<div class="col-sm-12">
									  <input type="text" maxlength="50"  name="remark" class="form-control" />
									</div>
								  </div>
								<div class="form-group row my-0">
									<div class="col-sm-12">
										<label for="expiry"
											class="col-sm-12 mb-0 col-form-label text-muted">Provider:</label>
									</div>
									<div class="col-sm-12 my-0">
										<div class="form-floating mb-0">
											<select
												class="form-control form-select mb-0"
												id="floatingSelect"
												name="category_id"
												required=""
												aria-label="Floating label select example">
												<option selected disabled>Select Category/Source</option>
												{% for panel in panels %}
												<option value="{{ panel.id }}">
													{{panel.id}}-{{panel.title}}
												</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="form-group row mb-0 mt-4 text-center">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-success">Add</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-lg-6 ">
							<hr class="d-block border-4 border-primary my-5 d-lg-none">
							<h6 class="modal-title text-center">Upload Excel to Add New Record</h6>
							
							<form id="upload-form" onsubmit="return checkfile(this.file);" action="{% url 'market:upload_records' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row mt-0">
									<div class="col-12 text-center text-secondary">
										<i>Note: 	
										How to upload excel file ? </i>
										<a class="ml-2 border" href="{% static 'admin-asset/example/record-upload.xlsx' %}"> Download Format</a>
									</div>
									<div class="col-12 small py-2 text-center text-primary">
										10000 (10k) recods are able to be uploaded per upload.
									</div>
								</div>
								<div class="form-group">
									<label>Select Excel File to Upload</label>
									<input type="file" name="expfile" id="excel-file" accept=".xls,.xlsx" required class="file-upload-default">
									<div class="input-group col-xs-12">
										<input type="text" class="form-control file-upload-info"  disabled placeholder="Upload Image">
										<span class="input-group-append">
											<button class="file-upload-browse btn btn-info" type="button">Choose</button>
										</span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-form-label m-0">Enter Remark for your Order</label>
									<div class="col-sm-12">
									  <input type="text" maxlength="20"  name="remark" class="form-control" />
									</div>
								  </div>
								<div class="form-group row my-0">
									<div class="col-sm-12">
										<label for="expiry"
											class="col-sm-12 mb-0 col-form-label text-muted">Provider:</label>
									</div>
									<div class="col-sm-12 my-0">
										<div class="form-floating mb-0">
											<select
												class="form-control form-select mb-0"
												id="floatingSelect"
												name="category_id"
												required=""
												aria-label="Floating label select example">
												<option selected disabled>Select Category/Source</option>
												{% for panel in panels %}
												<option value="{{ panel.id }}">
													{{panel.id}}-{{panel.title}}
												</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="form-group row mb-0 mt-4 text-center">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-success">Add</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% include "admin-includes/footer.html" %}
<script src="{% static 'assets/jquery.min.js' %}"></script>
<script src="{% static 'admin-asset/js/file-upload.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/jquery-validate.js' %}">
</script>
<script type="text/javascript">

$(document).ready(function() {
	$('#search-form').attr('action' , "{% url 'balance_checker:check_index' %}");
});


$("#add-new-record").validate({
	rules: {
		email: {
			required: true,
		},
		name: {
			required: true,
		},
		mobile_no: {
			
		},
		remark: {
			
		},
		category_id: {
			required: true,
		},
	},
	messages: {
		email: {
			required: "Enter email",
		},
		name: {
			required: "Enter name",
		},
		mobile_no: {
			
		},
		remark: {
			
		},
		category_id: {
			required: "Select category/Source",
		},
	}
});


$("#upload-form").validate({
	rules: {
		expfile: {
			required: true,
		},
		remark: {
			
		},
		category_id: {
			required: true,
		},
	},
	messages: { 
		expfile: {
			required: "Select Excel file",
		},
		remark: {
			
		},
		category_id: {
			required: "Select category/Source",
		},
	}
});

</script>
<script>
    function checkfile(sender) {
        var validExts = [".xlsx", ".xls"];
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                validExts.toString() + " types.");
            //document.getElementById("excel-file").value=' ';
            return false;
        } else return true;
    }
</script>