{% include "admin-includes/header.html" %} {% block content %} {% load static %}
{% load extras %}
<style>

  .content-wrapper{
	padding-top: 20px;
  }
</style>
<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title text-center">Edit User Records</h4>
					<div class="row">
						<div class="col-lg-6  border-right bg-light border-secondary">
							<h6 class=" text-center">Edit details for records</h6>
							<form action="{% url 'market:edit_record' record.id %}" id="edit-new-record" method="post">
								{% csrf_token %}
								<div class="form-group row my-0">
									<label class="col-sm-12 col-form-label m-0">Enter Email</label>
									<div class="col-sm-12">
										<input type="text" maxlength="80" minlength="5" required name="email" value="{{ record.email|default_if_none:'' }}" class="form-control" />
									</div>
								</div>
								<div class="row"> 
									<div class="form-group col-lg-6 my-0">
										<label class="col-sm-12 col-form-label m-0">Enter Name</label>
										<div class="col-sm-12">
											<input type="text" maxlength="50" minlength="5" required name="name" value="{{ record.name|default_if_none:'' }}" class="form-control" />
										</div>
									</div>
									<div class="form-group col-lg-6 my-0">
										<label class="col-sm-12 col-form-label m-0">Enter Mobile No.</label>
										<div class="col-sm-12">
											<input type="text" maxlength="12" minlength="9" name="mobile_no" value="{{ record.mobile_no|default_if_none:'' }}" class="form-control" />
										</div>
									</div>
								</div>
								<div class="form-group my-0 row">
									<label class="col-sm-12 col-form-label m-0">Enter Remark for your Order</label>
									<div class="col-sm-12">
									  <input type="text" maxlength="50" value="{{ record.remark|default_if_none:'' }}"  name="remark" class="form-control" />
									</div>
                                </div>
								<div class="form-group row my-0">
									<div class="col-sm-12">
										<label for="expiry"
											class="col-sm-12 mb-0 col-form-label text-muted">Provider:</label>
									</div>
									<div class="col-sm-12 my-0">
										<div class="form-floating mb-0">
											<select
												class="form-control text-info form-select mb-0"
												id="floatingSelect"
												name="category_id"
												required=""
												aria-label="Floating label select example">
												<option selected disabled>Select Category/Source</option>
												{% for panel in panels %}
												<option value="{{ panel.id }}" if {% if record.source.id == panel.id %}selected{% endif %}>
													{{panel.id}}-{{panel.title}}
												</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="form-group row mb-0 mt-4 text-center">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-success">Add</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-lg-6 ">
							<hr class="d-block border-4 border-primary my-5 d-lg-none">
							<h6 class="modal-title text-center">Details of Record</h6>
                            <div class="form-group my-0 row">
                                <label class="col-sm-12 col-form-label fw-500 m-0">Email</label>
                                <div class="col-sm-12">
                                  <div class="text-center text-primary border py-2">
                                    {{record.email}}
                                  </div>
                                </div>
                            </div>

                            <div class="row"> 
                                <div class="form-group col-lg-6 m-0 px-0">
                                    <label class="col-sm-12 col-form-label m-0">Name</label>
                                    <div class="col-sm-12">
                                        <div class="text-center text-primary border py-2">
                                            {{record.name}}
                                          </div>

                                    </div>
                                </div>
                                <div class="form-group col-lg-6 m-0 px-0">
                                    <label class="col-sm-12 col-form-label m-0">Mobile No</label>
                                    <div class="col-sm-12">
                                        <div class="text-center text-primary border py-2">
                                            {{record.mobile_no}}
                                          </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="form-group col-lg-6 my-0">
                                    <label class="col-sm-12 col-form-label m-0">Category</label>
                                    <div class="col-sm-12">
                                        <div class="text-center text-primary border py-2">
                                            {{record.source.title}}
                                          </div>

                                    </div>
                                </div>
                                <div class="form-group col-lg-6 my-0">
                                    <label class="col-sm-12 col-form-label m-0">Remark</label>
                                    <div class="col-sm-12">
                                        <div class="text-center text-primary border py-2">
                                            {{record.remark}}
                                          </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="form-group col-lg-6 m-0 px-0">
                                    <label class="col-sm-12 col-form-label m-0">Created By</label>
                                    <div class="col-sm-12">
                                        <div class="text-center text-primary border py-2">
                                            {{record.created_by}}
                                          </div>

                                    </div>
                                </div>
                                <div class="form-group col-lg-6 m-0 px-0">
                                    <label class="col-sm-12 col-form-label m-0">Created On</label>
                                    <div class="col-sm-12">
                                        <div class="text-center text-primary border py-2">
                                            {{record.created_on}}
                                          </div>

                                    </div>
                                </div>
                            </div>
                            
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% include "admin-includes/footer.html" %}
<script src="{% static 'assets/jquery.min.js' %}"></script>
<script src="{% static 'admin-asset/js/file-upload.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/jquery-validate.js' %}">
</script>
<script type="text/javascript">



$("#edit-new-record").validate({
	rules: {
		email: {
			required: true,
		},
		name: {
			required: true,
		},
		mobile_no: {
			
		},
		remark: {
			
		},
		category_id: {
			required: true,
		},
	},
	messages: {
		email: {
			required: "Enter email",
		},
		name: {
			required: "Enter name",
		},
		mobile_no: {
			
		},
		remark: {
			
		},
		category_id: {
			required: "Select category/Source",
		},
	}
});

</script>
<script>
    function checkfile(sender) {
        var validExts = [".xlsx", ".xls"];
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                validExts.toString() + " types.");
            //document.getElementById("excel-file").value=' ';
            return false;
        } else return true;
    }
</script>