{% include "admin-includes/header.html" %} {% block content %} {% load static %}
{% load extras %}
<!-- partial -->

<div class="content-wrapper">
	<div class="row">
		<div class="col-md-12 grid-margin">
			<div class="row">
				<div class="col-12 col-xl-12 mb-0 mb-xl-0">
					<h3 class="font-weight-bold">Welcome Staff-Admin</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 grid-margin stretch-card">
			<div class="card tale-bg">
				<div class="card-people mt-auto">
					<img src="{% static 'admin-asset/images/people.svg' %}" alt="people" />
					<div class="weather-info">
						<div class="d-flex">
							<div>
								<h2 class="mb-0 font-weight-normal">
									<i class="icon-sun mr-2"></i>31<sup>C</sup>
								</h2>
							</div>
							<div class="ml-2">
								<h4 class="location font-weight-normal">Mumbai</h4>
								<h6 class="font-weight-normal">India</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 grid-margin transparent">
			<div class="row">
				<div class="col-md-6 mb-4 stretch-card transparent">
					<div class="card card-tale">
						<div class="card-body">
							<p class="mb-4">Today’s Recods</p>
							<p class="fs-30 mb-2">4006</p>
							<p>10.00% (30 days)</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-4 stretch-card transparent">
					<div class="card card-dark-blue">
						<div class="card-body">
							<p class="mb-4">Total Panels</p>
							<p class="fs-30 mb-2">61344</p>
							<p>22.00% (30 days)</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
					<div class="card card-light-blue">
						<div class="card-body">
							<p class="mb-4">Add New Record</p>
							<p class="fs-30 mb-2">34040</p>
							<p>2.00% (30 days)</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 stretch-card transparent">
					<div class="card card-light-danger">
						<div class="card-body">
							<p class="mb-4">Notifications</p>
							<p class="fs-30 mb-2">47033</p>
							<p>0.22% (30 days)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 stretch-card grid-margin">
			<div class="card">
				<div class="card-body">
					<p class="card-title mb-0">Projects</p>
					<div class="table-responsive">
						<table class="table table-borderless">
							<thead>
								<tr>
									<th class="pl-0 pb-2 border-bottom">Places</th>
									<th class="border-bottom pb-2">Orders</th>
									<th class="border-bottom pb-2">Users</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="pl-0">Mumbai</td>
									<td>
										<p class="mb-0">
											<span class="font-weight-bold mr-2">65</span>(2.15%)
										</p>
									</td>
									<td class="text-muted">65</td>
								</tr>
								<tr>
									<td class="pl-0">Bengloru</td>
									<td>
										<p class="mb-0">
											<span class="font-weight-bold mr-2">54</span>(3.25%)
										</p>
									</td>
									<td class="text-muted">51</td>
								</tr>
								<tr>
									<td class="pl-0">Mumbai</td>
									<td>
										<p class="mb-0">
											<span class="font-weight-bold mr-2">22</span>(2.22%)
										</p>
									</td>
									<td class="text-muted">32</td>
								</tr>
								<tr>
									<td class="pl-0">Indore</td>
									<td>
										<p class="mb-0">
											<span class="font-weight-bold mr-2">46</span>(3.27%)
										</p>
									</td>
									<td class="text-muted">15</td>
								</tr>
								<tr>
									<td class="pl-0">Mumbai</td>
									<td>
										<p class="mb-0">
											<span class="font-weight-bold mr-2">17</span>(1.25%)
										</p>
									</td>
									<td class="text-muted">25</td>
								</tr>
								<tr>
									<td class="pl-0">Mumbai</td>
									<td>
										<p class="mb-0">
											<span class="font-weight-bold mr-2">52</span>(3.11%)
										</p>
									</td>
									<td class="text-muted">71</td>
								</tr>
								<tr>
									<td class="pl-0 pb-0">Mumbai</td>
									<td class="pb-0">
										<p class="mb-0">
											<span class="font-weight-bold mr-2">25</span>(1.32%)
										</p>
									</td>
									<td class="pb-0">14</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 stretch-card grid-margin">
			<div class="row">
				<div class="col-md-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title">Charts</p>
							<div class="charts-data">
								<div class="mt-3">
									<p class="mb-0">Data 1</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="progress progress-md flex-grow-1 mr-4">
											<div class="progress-bar bg-inf0" role="progressbar" style="width: 95%"
												aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p class="mb-0">5k</p>
									</div>
								</div>
								<div class="mt-3">
									<p class="mb-0">Data 2</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="progress progress-md flex-grow-1 mr-4">
											<div class="progress-bar bg-info" role="progressbar" style="width: 35%"
												aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p class="mb-0">1k</p>
									</div>
								</div>
								<div class="mt-3">
									<p class="mb-0">Data 3</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="progress progress-md flex-grow-1 mr-4">
											<div class="progress-bar bg-info" role="progressbar" style="width: 48%"
												aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p class="mb-0">992</p>
									</div>
								</div>
								<div class="mt-3">
									<p class="mb-0">Data 4</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="progress progress-md flex-grow-1 mr-4">
											<div class="progress-bar bg-info" role="progressbar" style="width: 25%"
												aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p class="mb-0">687</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
					<div class="card data-icon-card-primary">
						<div class="card-body">
							<p class="card-title text-white">Number of Orders</p>
							<div class="row">
								<div class="col-8 text-white">
									<h3>34040</h3>
									<p class="text-white font-weight-500 mb-0">
										The total number of Vouchers within the date range.It is
										calculated as the sum .
									</p>
								</div>
								<div class="col-4 background-icon"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 stretch-card grid-margin">
			<div class="card">
				<div class="card-body">
					<p class="card-title">Notifications</p> 
					<ul class="icon-data-list">
						<li>
							<div class="d-flex">
								<img src="{% static 'admin-asset/images/faces/face1.jpg' %}" alt="user" />
								<div>
									<p class="text-info mb-1">Super-Admin</p>
									<p class="mb-0">Make a new SUb-admin</p>
									<small>9:30 am</small>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex">
								<img src="{% static 'admin-asset/images/faces/face2.jpg' %}" alt="user" />
								<div>
									<p class="text-info mb-1">Admin</p>
									<p class="mb-0">You have created 1000 vouchers today</p>
									<small>10:30 am</small>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex">
								<img src="{% static 'admin-asset/images/faces/face3.jpg' %}" alt="user" />
								<div>
									<p class="text-info mb-1">Sub-Admin</p>
									<p class="mb-0">Created Voucher Check task in Panel</p>
									<small>11:30 am</small>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex">
								<img src="{% static 'admin-asset/images/faces/face4.jpg' %}" alt="user" />
								<div>
									<p class="text-info mb-1">Super-Admin</p>
									<p class="mb-0">Created Amazon Order</p>
									<small>8:50 am</small>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex">
								<img src="{% static 'admin-asset/images/faces/face5.jpg' %}" alt="user" />
								<div>
									<p class="text-info mb-1">Admin</p>
									<p class="mb-0">Vouchers for Axis-Bank.</p>
									<small>9:00 am</small>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
			<div class="card position-relative">
				<div class="card-body">
				
								<div class="row">
									<div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
										<div class="ml-xl-4 mt-3">
											<p class="card-title">Detailed Reports</p>
											<h1 class="text-primary">$34040</h1>
											<h3 class="font-weight-500 mb-xl-4 text-primary">
												North India
											</h3>
											<p class="mb-2 mb-xl-0">
												The total number of sessions within the date range. It
												is the period time a user is actively engaged with
												your website, page or app, etc
											</p>
										</div>
									</div>
									<div class="col-md-12 col-xl-9">
										<div class="row">
											<div class="col-md-6 border-right">
												<div class="table-responsive mb-3 mb-md-0 mt-3">
													<table class="table table-borderless report-table">
														<tr>
															<td class="text-muted">Mumbai</td>
															<td class="w-100 px-0">
																<div class="progress progress-md mx-4">
																	<div class="progress-bar bg-primary"
																		role="progressbar" style="width: 70%"
																		aria-valuenow="70" aria-valuemin="0"
																		aria-valuemax="100"></div>
																</div>
															</td>
															<td>
																<h5 class="font-weight-bold mb-0">713</h5>
															</td>
														</tr>
														<tr>
															<td class="text-muted">Dehli</td>
															<td class="w-100 px-0">
																<div class="progress progress-md mx-4">
																	<div class="progress-bar bg-warning"
																		role="progressbar" style="width: 30%"
																		aria-valuenow="30" aria-valuemin="0"
																		aria-valuemax="100"></div>
																</div>
															</td>
															<td>
																<h5 class="font-weight-bold mb-0">583</h5>
															</td>
														</tr>
														<tr>
															<td class="text-muted">Bengloru</td>
															<td class="w-100 px-0">
																<div class="progress progress-md mx-4">
																	<div class="progress-bar bg-danger"
																		role="progressbar" style="width: 95%"
																		aria-valuenow="95" aria-valuemin="0"
																		aria-valuemax="100"></div>
																</div>
															</td>
															<td>
																<h5 class="font-weight-bold mb-0">924</h5>
															</td>
														</tr>
														<tr>
															<td class="text-muted">Indore</td>
															<td class="w-100 px-0">
																<div class="progress progress-md mx-4">
																	<div class="progress-bar bg-info" role="progressbar"
																		style="width: 60%" aria-valuenow="60"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</td>
															<td>
																<h5 class="font-weight-bold mb-0">664</h5>
															</td>
														</tr>
														<tr>
															<td class="text-muted">Nagpur</td>
															<td class="w-100 px-0">
																<div class="progress progress-md mx-4">
																	<div class="progress-bar bg-primary"
																		role="progressbar" style="width: 40%"
																		aria-valuenow="40" aria-valuemin="0"
																		aria-valuemax="100"></div>
																</div>
															</td>
															<td>
																<h5 class="font-weight-bold mb-0">560</h5>
															</td>
														</tr>
														<tr>
															<td class="text-muted">Lucknow</td>
															<td class="w-100 px-0">
																<div class="progress progress-md mx-4">
																	<div class="progress-bar bg-danger"
																		role="progressbar" style="width: 75%"
																		aria-valuenow="75" aria-valuemin="0"
																		aria-valuemax="100"></div>
																</div>
															</td>
															<td>
																<h5 class="font-weight-bold mb-0">793</h5>
															</td>
														</tr>
													</table>
												</div>
											</div>
											<div class="col-md-6 mt-3">
												<canvas id="north-america-chart"></canvas>
												<div id="north-america-legend"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
					
			</div>
		</div>
	</div>
	
</div>
<!-- content-wrapper ends -->

{% endblock %} {% include "admin-includes/footer.html" %}
</div>
