{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
{% load extras %}
<!-- partial -->
<div class="content-wrapper">
	<div class="row">
		<div class="col-md-8 stretch-card grid-margin">
			<div class="card">
				<div class="card-body col-12">
					<p class="card-title">Notifications</p> 
					<ul class="icon-data-list col-12">
						{% for notification in notifications %}
						<li class="border-bottom">
							<div class="d-flex">
								{% if notification.is_critical %}
                                <i class="icon-bell icon-lg text-danger menu-icon mr-4"></i>
								{% else %}
									{% if notification.is_read %}
									
									<i class="icon-bell text-muted icon-lg menu-icon mr-4"></i>
									{% else %}
									<i class="icon-bell icon-lg menu-icon mr-4"></i>
									{% endif %}
								{% endif %}
								<div class="col-12 parent_class" id="p{{notification.id}}">
									{% if notification.is_read %}
									<p class="text-muted mb-1 pre_noti_title">
										<strong>{{notification.title|safe}}</strong> <span><i class="ti-control-record text-success "></i></span>
									{% else %}
									<p class="text-info mb-1 pre_noti_title" >
										{{notification.title|safe}}
									{% endif %}  <span class="float-right mr-0"><button type="button" class="btn btn-transparent show_full" ><i class="ti-angle-double-right border p-1 rounded text-success mr-5"></i></button></span>
									</p> 
									<p class="mb-0">{{ notification.message|safe|truncatechars:40 }}</p>
									<input type="hidden" class="pre_message" value="{{ notification.message|safe}}">
									{% if notification.is_critical %}
									<span class="d-none pre_critical">Yes</span>
									{% else %}
									<span class="d-none pre_critical">No</span>
									{% endif %}
									<small class="float-right text-primary mr-5 pre_dated">{{notification.created_on}}</small>
								</div>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
        <div class="col-md-4  ">
			<div class="card">
				<div class="card-body col-lg-12">
					<p class="card-title">Notification View</p> 
					<ul class="icon-data-list col-12">
						<li class="text-center col-12">
							<div class="col-12 text-center border m-0 py-2 rounded">
								<i class="icon-bell icon-lg text-primary menu-icon "></i>
							</div>
							<div class="col-12" id="notification_panel">
								Select a notification to view its details
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content-wrapper ends -->
<script src="{% static 'assets/jquery.min.js' %}"></script>


<script>
	window.onload = function(){
	  setTimeout(
			"{{2|clear_notifications}}"
	  , 5000)
   };
   
	$(".show_full").on('click', function(event){
		var parentDiv = $(this).closest('.parent_class'); 
			let tle = parentDiv.find(".pre_noti_title").text();
			let msg = parentDiv.find(".pre_message").val();
			let dte = parentDiv.find(".pre_dated").text();
			let is_cri = parentDiv.find(".pre_critical").text();

			$("#notification_panel").html(`
			<div class="text-primary col-12 text-center"><strong>Title</strong></div>
			<div class="col-12 noti_title">${tle}</div><hr>
			<div class="text-primary col-12 text-center"><strong>Message</strong></div>
			<div class="col-12 noti_message">${msg}</div><hr>
			<div class="text-primary col-12 text-center"><strong></strong></div>
			<div class="col-12 noti_title"> Is Critical 
				<span class="badge bg-success float-right is_critical"> ${is_cri}</span>
			</div><hr>
			<div class="col-12 noti_title">Dated : 
				<span id="dated_span">${dte}</span>
			</div>
			`)
	
	});
</script>
<!-- 
   -->
{% endblock %}
{% include "admin-includes/footer.html" %}
