{% include "admin-includes/header.html" %} {% block content %} {% load static %}
{% load extras %}
<style>
  .stretch-card {
    min-height: 150px;
  }
  .cat-title{
	font-size: larger;
  }
  .horizantal_center {
	text-align: center;
    display: grid;
    align-items: center;
  }
  .content-wrapper{
	padding-top: 20px;
  }
</style>
<div class="content-wrapper">
	<h4 class="text-center mb-3 mt-0 pt-0"><strong> Categories/Sources for records</strong></h4>
  <div class="row mb-4">
	{% if panels %} 
	{% for panel in panels %}
    <div class="col-md-4 mb-3 stretch-card transparent">
      <div class="card card-tale" style="background-color: {{panel.color}};">
        <div class="card-body">
		<p>
			<span>
				<span class="text-secondary">Date</span> : {{ panel.created_on }}</span> 
				<span class="float-right"><span class="text-secondary">Id : </span> {{panel.id}}</span>
		</p>
		<p class="text-center cat-title">{{panel.title}} 			  
		</p>
		<p class="text-center text-light"><small  class="mb-4"><span class="text-secondary">Remark :</span> {{ panel.remark }}</small></p>
		<p class="text-center d-flex justify-content-between">
			<span class="fs-12 mb-2 float-left"><span class="text-secondary">Created By :</span> {{ panel.created_by }}</span>
			<span class="float-right"><span class="text-secondary ">Total Recods</span> : <span>{{panel.records}}</span></span>
		</p>
		<p class="d-flex justify-content-between">
			<a href="{% url 'market:category_records' panel.id %}" title="View Records" class="float-left"><i class="icon-eye mt-0 pt-0 text-white"></i></a>
			<a href="{% url 'market:download_category_records' panel.id %}" title="Download category Records" class="float-left"><i class="icon-download mt-0 pt-0 text-white" ></i></a>
			<a href="{% url 'market:delete_category' panel.id %}" title="Delete Category if empty" class="float-right"><i class="icon-trash mt-0 pt-0 text-white float-right" ></i></a>
		</p>
        </div>
      </div>
    </div>
	{% endfor %} 
	{% else %}
	<p>
		No Panels or source added yet
	</p>
	  {% endif %}
	  <div class="col-md-4 stretch-card transparent">
		<div class="card card-tale" title="Add New Category" >
		  <div class="card-body horizantal_center" title="Add New Category">
			  <button type="button" class="border-0 bg-transparent " title="Add New Category"
			  data-toggle="modal" data-target="#Add-New-Source-Modal">
			  <i class="icon-plus text-white icon-lg" title="Add New Category"></i>
			  </button>
		  </div>
		</div>
	  </div>
  </div>
</div>

<div class="modal fade" id="Add-New-Source-Modal" tabindex="-1" role="dialog" aria-labelledby="UploadVouchersModal"
	aria-hidden="true">
	<div class="modal-dialog  rounded" role="document">
		<div class="modal-content ">

			<div class="modal-header bg-info">
				<h5 class="modal-title " id="Add-New-Source">Add New Panel/Source</h5>
				<button type=" button" class="close btn btn-danger bg-danger text-white" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="" id="add-new-category" method="post">
				{% csrf_token %}
				<div class="modal-body">
				<h6 class="text-center text-info">Add New panel/Category/Source for records</h6>
				<div class="form-group row mb-1">
					<label class="col-sm-12 col-form-label m-0">Enter Title</label>
					<div class="col-sm-12">
					  <input type="text" maxlength="20" minlength="5" required name="title" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-12 col-form-label m-0">Enter Remark</label>
					<div class="col-sm-12">
					  <input type="text" maxlength="80" minlength="5" required name="remark" class="form-control" />
					</div>
				</div>
				<div class="modal-footer border border-0 text-center align-self-center">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success">Add</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>
<!-- endupload modal -->
{% endblock %} {% include "admin-includes/footer.html" %}
<script src="{% static 'assets/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/jquery-validate.js' %}">
</script>
<script type="text/javascript">
$("#add-new-category").validate({
	rules: {
		title: {
			required: true,
		},
		remark: {
			required: true,

		}
	},
	messages: {
		title: {
			required: "Enter title for new category",

		},
		remark: {
			required: "Enter remark for new category",

		},
	}
});

</script>