{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
{% load extras %}
<style>
	
	.pagination a {
	  color: black;
	  float: left;
	  border-radius: 5px;
	  transition: background-color .3s;
	  border: 1px solid #ddd; /* Gray */
	  margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
	  font-size: 11px;

	  padding: 4px 6px;
	  background:lightgray;
	  text-decoration: none;
	}
	.pagination .active{
	  background-color: lightgreen !important;
	  color: white !important;
			  font-size: 11px !important;
			  padding: 4px 6px !important;
			  border-radius: 5px;
	}
	.pagination a.active {
	  margin-top:15px !important;
	  background-color: lightgreen !important;
	  color: white !important;
	  font-size: 16px !important;
	  padding: 4px 	6px !important;
	  border-radius: 5px;
	}
	.pagination a:hover:not(.active) {
	  background-color: darkgray;
  }

</style>
<!-- partial -->
<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">All User Records
						<a href="{% url 'market:download_category_records' 12121212 %}" class="btn btn-outline-success bg-light border  p-2 mr-2 float-right">
							<i class="ti-download text-success mr-2 ml-1"></i> <b>Download</b>
						</a>
						<a href="{% url 'market:add_user_record' %}" class="btn btn-outline-primary bg-light border  p-2 mr-2 float-right">
							<i class="ti-plus text-dark mr-2 ml-1"></i> <b>Add New</b>
						</a>
						<div class="input-group col-lg-5 float-right py-0 my-0">
							<div class="input-group-prepend hover-cursor" id="navbar-search-icon">
								<span class="input-group-text" id="search">
									<i class="icon-search"></i>
								</span>
							</div>
							<form id="search-form" action="{% url 'market:record_page' %}" method="get">
								<input type="search" class="form-control py-0 my-0" style="width:400px" autocomplete="off" value="{{ query }}" id="navbar-search-input" placeholder="Search now"
									aria-label="search" name="q" aria-describedby="search">
							</form>
						</div>
					</h4>
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr class="text-center">
									<th>Record_Id</th>
									<th>Name</th>
									<th>Email</th>
									<th>Mobile No.</th>
									<th>Source</th>
									<th>Created On</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if records %}
								{% for record in records %}
								<tr>
									<td>#{{ record.id }}</td>
									<td> {{ record.name|default_if_none:"--" }} </td>
									<td> {{ record.email|default_if_none:"--" }} </td>
									<td>{{ record.mobile_no|default_if_none:"--" }}</td>
									<td class="text-center">
										<span class="badge bg-success">{{record.source.title}}</span>
									</td>
									<td> {{ record.created_on.date }} </td>
									<td>
										<div class="d-flex justify-content-between my-0 py-0">
											<a href="{% url 'market:edit_record' record.id %}"
												title="Edit Record"
												class="btn btn-info shadow btn-xs sharp mr-1 my-0 py-1">
												<i class="ti-pencil my-0"></i></a>

												<a title="View Record"
												href="{% url 'market:edit_record' record.id %}"
												 class="btn btn-primary shadow btn-xs sharp mr-1 my-0 py-1">
												<i class="ti-eye my-0"></i></a>

												<a title="Delete Record"
												href="{% url 'market:delete_record' record.id %}"
												onclick="return confirm('Are you sure to delete?')"
												id="update-btn" class="btn btn-danger shadow btn-xs sharp mr-1 my-0 py-1">
												<i class="ti-trash my-0"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
								{% else %}
								<tr>
									<td align="center" colspan="6">No order Found to display</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					{% if records.has_other_pages %}
						<div class="col d-flex justify-content-center mt-2">
							<ul class="pagination">
								{% if records.has_previous %}
								<li><a href="?page={{ records.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">&laquo;</a></li>
								<li><a href="?page=1{% if query %}&q={{ query }}{% endif %}">First</a></li>
								{% else %}
								<li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
								</li>
								{% endif %}
								{% if records.number|add:'-9' > 1 %}
								<li><a href="?page={{ records.number|add:'-9' }}{% if query %}&q={{ query }}{% endif %}">&hellip;</a></li>
								{% endif %}
								{% for i in records.paginator.page_range %}
								{% if records.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
								{% elif i > records.number|add:'-8' and i < records.number|add:'8' %}
								<li><a href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}">{{ i }}</a></li>
								{% endif %}
								{% endfor %}
								{% if records.paginator.num_pages > records.number|add:'9' %}
								<li><a href="?page={{ records.number|add:'9' }}{% if query %}&q={{ query }}{% endif %}">&hellip;</a></li>
								<li><a href="?page={{ records.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">Last</a></li>
								{% endif %}

								{% if records.has_next %}
								<li><a href="?page={{ records.next_page_number }}{% if query %}&q={{ query }}{% endif %}">&raquo;</a></li>
								{% else %}
								<li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
								</li>
								{% endif %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content-wrapper ends -->


{% endblock %}
{% include "admin-includes/footer.html" %}