{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
        <div class="content-body">
			<div class="container-fluid">
				<div class="form-head d-flex mb-3 mb-md-4 align-items-start">									
				</div>		
				{% if messages %}
						{% for message in messages %}
						<div class="alert alert-success">
                     <a class="close" style= color:#0d6efd; data-dismiss="alert" href="#">×</a> {{ message }}
                    </div>
						{% endfor %}

				{% endif %}		
				<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">DB Logger</h4>
								<div class="addlocation">
									<a class="mr-2" href="{% url 'dblogger:delete_log' %}">Delete Logs</a>
								 </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>
                                                <th><strong>ID</strong></th>
                                                <th><strong>message</strong></th>
                                                <th><strong>Trace</strong></th>
                                                <th><strong>Created TIme</strong></th>
                                                <th><strong>Actions</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	<tr>
												{% if logs %}
												{% for log in logs %}
												<td><strong>{{ log.id }}</strong></td>
												<td>
												{{ log.msg|truncatechars:30 }}
												</div>
												</td>
												<td>
													<span class="w-space-no">{{ log.trace|truncatechars:30  }}</span>
												</div></td>
												<td>{{ log.create_datetime }}</td>
												<td>
														<a title="Edit Details" href="{% url 'dblogger:log_view' %}?id={{log.id}}" id="update-btn"
															class="btn btn-success shadow btn-xs sharp mr-1">
															<i class="fa fa-eye"></i></a>
													</div>
												</td>
									</tr>
									{% endfor %}
									{% else %}
										<td colspan="6" align=center> No Data Found </td>
									{% endif %}									
								</tbody>					
							</table>
                            </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
{% endblock %}
{% include "admin-includes/footer.html" %}