{% extends './base.html' %}
{% load static %}
{%block content %}

<section data-bs-version="5" class="numbers1 cid-sz56uYA5zF"
    style="background-color: darkcyan;" id="numbers01-a">
    <div class="d-flex align-items-center justify-content-center" >
        <div class="text-center row ">
            <div class=" col-md-12">
                <img src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569__340.jpg" alt=""
                    class="img-fluid">
            </div>
            <div class=" col-md-12 mt-5">
                <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
                <p class="lead">
                    The page you’re looking for doesn’t exist.
                </p>
                <a href="{% url 'frontend:index' %}" class="btn btn-primary">Go Home</a>
            </div>

        </div>
    </div>
</section>



{% endblock %}