{% extends './base.html' %}
{% load static %}
{%block content %}
<section data-bs-version="5" class="clients2 cid-sz583xO0z3" id="clients02-d">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);">
    </div>
    <div class="images-container container">
        <div class="mbr-section-head bg-light">
            <h3 class="mbr-section-title mbr-fonts-style  align-center mb-2 display-7">
                OUR CLIENTS</h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center pb-4 display-5"><strong>We love to work
                    with our clients</strong>
            </h4>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-3 col-md-4">
                <div class="card-wrapper">
                    <img src="{% static 'assets/images/cr-images/crlogo-tm.png' %}" >
                </div>
            </div>
            <div class="col-lg-3 col-md-4 ">
                <div class="card-wrapper">
                    <img src="{% static 'assets/images/cr-images/crlogo-tm.png' %}" >
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card-wrapper">
                    <img src="{% static 'assets/images/cr-images/crlogo-tm.png' %}" >
                </div>
            </div>

        </div>
    </div>
</section>
<section data-bs-version="5" class="accordion1 cid-sz57ONqHWB" id="Accordion01-c">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-12">
                <h2 class="mbr-fonts-style mbr-section-title pb-3 mb-1 mbr-white mbr-semibold align-left display-2">
                    <strong>Frequently
                    </strong>
                    <div><strong>Asked Questions</strong></div>
                </h2>


                <div class="content-block">
                    <div class="accordion-content">
                        <div id="bootstrap-accordion_10" class="panel-group accordionStyles accordion " role="tablist"
                            aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="collapsed panel-title" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse1_10"
                                        aria-expanded="false" aria-controls="collapse1">
                                        <h4 class="mbr-fonts-style header-text mbr-white mbr-semibold display-7">
                                            Is there charges for giftcards for credencerewards</h4>
                                        <span class="sign mbr-iconfont mobi-mbri-plus inactive"></span>

                                    </a>
                                </div>
                                <div id="collapse1_10" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingOne" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_10">
                                    <div class="panel-body pt-4">
                                        <p
                                            class="mbr-fonts-style panel-text mbr-text mbr-white mb-3 mbr-regular display-4">
                                            No, there is not ay hidden are transactional charges for purchasing gift-cards from credencerewards.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a role="button" class="collapsed panel-title" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse2_10"
                                        aria-expanded="false" aria-controls="collapse2">
                                        <h4 class="mbr-fonts-style header-text mbr-white mbr-semibold display-7">
                                            Are there any shipping charges ?</h4>
                                        <span class="sign mbr-iconfont mobi-mbri-plus inactive"></span>
                                    </a>

                                </div>
                                <div id="collapse2_10" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingTwo" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_10">
                                    <div class="panel-body pt-4">
                                        <p
                                            class="mbr-fonts-style panel-text mbr-text mbr-white mb-3 mbr-regular display-4">
                                            No,We don’t charge any extra shipping charge.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a role="button" class="collapsed panel-title" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse3_10"
                                        aria-expanded="false" aria-controls="collapse3">
                                        <h4 class="mbr-fonts-style header-text mbr-white mbr-semibold display-7">
                                            How does the gift card delivered ?</h4>
                                        <span class="sign mbr-iconfont mobi-mbri-plus inactive"></span>

                                    </a>
                                </div>
                                <div id="collapse3_10" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingThree" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_10">
                                    <div class="panel-body pt-4">
                                        <p
                                            class="mbr-fonts-style panel-text mbr-text mbr-white mb-3 mbr-regular display-4">
                                            The gift card is delivered in your email within 15minutes.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <a role="button" class="collapsed panel-title" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse4_10"
                                        aria-expanded="false" aria-controls="collapse4">
                                        <h4 class="mbr-fonts-style header-text mbr-white mbr-semibold display-7">
                                            Can I cancel my order ?</h4>
                                        <span class="sign mbr-iconfont mobi-mbri-plus inactive"></span>

                                    </a>
                                </div>
                                <div id="collapse4_10" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingFour" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_10">
                                    <div class="panel-body pt-4">
                                        <p
                                            class="mbr-fonts-style panel-text mbr-text mbr-white mb-3 mbr-regular display-4">
                                            You can’t cancel or return the gift card after order placed.</p>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="form3 cid-sz56s32iCe" id="form03-8">

    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-5 mbr-form">
                <h3 class="section-content-subtitle pb-2 align-left mbr-fonts-style display-4">CALL US</h3>
                <h4 class="section-content-title pb-2 align-left mbr-fonts-style display-2"><strong>+91 9920950509
                        </strong></h4>
                        <h4 class="section-content-title pb-2 align-left mbr-fonts-style display-2"><strong>Bhavik Samani
                        </strong></h4>
                <p class="section-content-text align-left pb-4 mbr-fonts-style display-4"><strong>Address
                        1:</strong>
                        <br>Laxmi Shoppe Shop No. 3,
                    <br>Opposite Neem Chhaya,
                    <br>Below Ramji Ashar School,<br>M.G. Road, Ghatkopar - (East),
                    <br>Mumbai - 400077,<br>India

                    <br><br><strong><br></strong><br><strong>Email:&nbsp;</strong>bhavik@credencerewards.com
                </p>
            </div>
            <div class="col-lg-7 mx-auto" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                    data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                        value="aE0VQrQ2xBKfmld9DDyWE8ZBP4aiSnmnFr6M3gPDxgfwodHv0xAEUUVXhofQ1fUcLZejefX2RC5FX9MLHZxHkuW7WH6cnR/PO/x8cxPab6aJBb/jEaZupnaXC8kqhHHG.G8mWkc3AS26dCGJqcQJTlN4Dyhvlu2x4ja2Aco4j3kaTRDsGYnhKA+Ikz3yNuxvgkFp/XBOuserXi0Eb07i5o+cTHrS2HwWa+uoigACqpvgIHemg6wCWheiLbPkSQ64s">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for
                            filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...!
                            some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name"
                                class="form-control display-7" value="" id="name-form03-8">
                        </div>
                        <div data-for="email" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3">
                            <input type="email" name="email" placeholder="Email" data-form-field="email"
                                class="form-control display-7" value="" id="email-form03-8">
                        </div>
                        <div data-for="subject" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="subject" placeholder="Subject" data-form-field="subject"
                                class="form-control display-7" value="" id="subject-form03-8">
                        </div>
                        <div data-for="phone" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3">
                            <input type="tel" name="phone" placeholder="Phone" data-form-field="phone"
                                class="form-control display-7" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value=""
                                id="phone-form03-8">
                        </div>
                        <div data-for="message" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <textarea name="message" placeholder="Message" data-form-field="message"
                                class="form-control display-7" id="message-form03-8"></textarea>
                        </div>
                        <div class="col-auto"><button type="submit" class="btn btn-primary display-4">Send your
                                message</button></div>
                    </div>
                </form>
                <!--Formbuilder Form-->
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="map1 cid-sz57A2ay7Y" id="contacts01-b">


    <div class="container">

        <div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.6469201822993!2d72.90361019145512!3d19.08185777447061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6293a5c0969%3A0x2d6a5ba2ce9fe093!2sCredence%20Rewards!5e0!3m2!1sen!2sin!4v1669198892245!5m2!1sen!2sin"
             width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
</section>




{% endblock %}