{% extends './base.html' %}
{% load static %}
{%block content %}
<style>
	* {
		box-sizing: border-box
	}

	/* Slideshow container */
	.slideshow-container {
		max-width: 100%;
		position: relative;
		margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
		display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Caption text */
	.text {
		color: #f2f2f2;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active,
	.dot:hover {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@keyframes fade {
		from {
			opacity: .4
		}

		to {
			opacity: 1
		}
	}
</style>

<section data-bs-version="5" class="team1 cid-sz56pECb7o pb-0" id="team01-6">
	<!-- style="background-image:url({% static 'assets/images/cr-images/newcrlogo.png' %})"  -->
	<div class="container slideshow-container mb-0">

		<!-- Full-width images with number and caption text -->
		<div class="mySlides fade">
			<div class="numbertext">1 / 3</div>
			<img src="{% static 'assets/images/cr-images/Buy-Gift-Cards-1.webp' %}" style="width:100%">
			<div class="text">VOucher</div>
		</div>

		<div class="mySlides fade">
			<div class="numbertext">2 / 3</div>
			<img src="{% static 'assets/images/cr-images/Birth-Day-Gift-Cards.webp' %}" style="width:100%">
			<div class="text">Sale</div>
		</div>

		<div class="mySlides fade">
			<div class="numbertext">3 / 3</div>
			<img src="{% static 'assets/images/cr-images/Shopping-Gift-Cards.webp' %}" style="width:100%">
			<div class="text">Brands</div>
		</div>

		<!-- Next and previous buttons -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>

</section>

<br>

<!-- The dots/circles -->
<!-- <div style="text-align:center">
	<span class="dot" onclick="currentSlide(1)"></span>
	<span class="dot" onclick="currentSlide(2)"></span>
	<span class="dot" onclick="currentSlide(3)"></span>
</div> -->
<style>
	.row .col-md-2 .card .card-body {
		background-color: rgb(155, 218, 243);
		border-radius: 5px;
		margin-bottom: 3px;
	}
</style>
<div class="container py-5">
	<!-- Second Row [Team]-->
	<h2 class="font-weight-bold mb-2 text-center bg-secondary text-white p-2">Categories</h2>
	<p class="font-italic text-muted mb-4"></p>

	<div class="row pb-5 pt-2 mb-4">
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Apparels-Accessories-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Apparels & Accessories (8)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Mobile-Electronics-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Mobile & Electronics (2)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Cabs-Travel-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted"> Cabs & Travel (5) </p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Health-Wellness-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Health & Wellness (1)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/E-Commerce-Online-1-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">E-Commerce & Online (3)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Entertainment-Magazines-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Entertainment & Magazines (2)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Food-Beverage-1-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Food & Beverage (4)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Grocery-Home-Needs-copy-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Grocery & Home Needs (1)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Health-Wellness-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Health & Wellness (1)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Mobile-Electronics-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Mobile & Electronics (2)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Gift Cards (26)</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/catagories/Cabs-Travel-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted"> Cabs & Travel (5) </p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Third Row [Profiles]-->
	<h2 class="font-weight-bold text-center bg-secondary text-white p-2 mb-2">Available Brands with Cards</h2>
	<p class="font-italic text-center text-muted mb-4">Varity of cards for users from multiple brands.</p>
	<div class="row pb-5 mb-4">
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img src="{% static 'assets/images/cr-images/brands/amazon-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Amazon Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Baskin-Robbins-Gift-Cards-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Baskin-Robbins Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/L_Img_bata-copy-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted"> Bata Gift Card </p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/big-bazaar-gift-cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Big-Bazaar gift cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/bookmyshow-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Bookmyshow gift Card</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/download-7-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Cafe Coffee Day Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Central-E-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Central E-Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/51AnEnXJ45L-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Cleartrip Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img src="{% static 'assets/images/cr-images/brands/croma-3-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Croma gift Card</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Dominos-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Dominos Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Flipkart-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Flipkart Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img src="{% static 'assets/images/cr-images/brands/gplay-300x169.webp' %}"
						alt="" class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted"> Google-play gift card</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Lifestyle-Gift-Card-1-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Lifestyle Gift Card</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Make-My-Trip-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">MakeMyTrip Gift-Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Myntra-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted"> Myntra Gift Cards </p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Netmeds-E-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Netmeds E-Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Nykaa-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Nykaa Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/pantaloons-gift-cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Pantaloons gift cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Paytm-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Paytm Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/pizzahut-1-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Pizzahut voucher Card</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/shopperstop-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Shopperstop Gift Card</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Taj-Gift-Card-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Taj Gift Card</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Talwalkars-Gift-Cards-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted">Talwalkars Gift Cards</p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/Tata_Cliq_Voucher-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted"> Tata Cliq Voucher </p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/UBER-Gift-Card-1-300x169.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted"> UBER Gift Card </p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-md-2 mb-3 mb-lg-0">
			<!-- Card-->
			<div class="card shadow-sm border-0 rounded">
				<div class="card-body p-0"><img
						src="{% static 'assets/images/cr-images/brands/yatra-gift-cards.webp' %}" alt=""
						class="w-100 card-img-top">
					<div class="p-4">
						<h5 class="mb-0"></h5>
						<p class="small text-muted"> Yatra gift cards </p>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item m-0"><a href="#" class="social-link"><i
										class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- First Row [Statistics]-->
	<!-- <h2 class="font-weight-bold mb-2">Latest Statistics</h2>
	<p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor
		incididunt.</p>

	<div class="row pb-5">
		<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
			<div class="card rounded shadow-sm border-0">
				<div class="card-body p-5"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
					<h5>Products Sales</h5>
					<p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</p>
					<div class="progress rounded-pill">
						<div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
							style="width: 70%;" class="progress-bar rounded-pill"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
			<div class="card rounded shadow-sm border-0">
				<div class="card-body p-5"><i class="fa fa-tasks fa-2x mb-3 text-success"></i>
					<h5>Completed Tasks</h5>
					<p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</p>
					<div class="progress rounded-pill">
						<div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
							style="width: 80%;" class="progress-bar bg-success rounded-pill"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
			<div class="card rounded shadow-sm border-0">
				<div class="card-body p-5"><i class="fa fa-user-circle-o fa-2x mb-3 text-info"></i>
					<h5>New Users</h5>
					<p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</p>
					<div class="progress rounded-pill">
						<div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
							style="width: 70%;" class="progress-bar bg-info rounded-pill"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
			<div class="card rounded shadow-sm border-0">
				<div class="card-body p-5"><i class="fa fa-shopping-bag fa-2x mb-3 text-warning"></i>
					<h5>New Products</h5>
					<p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</p>
					<div class="progress rounded-pill">
						<div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
							style="width: 70%;" class="progress-bar bg-warning rounded-pill"></div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	</div>
</div>
<script>
	let slideIndex = 0;
	showSlides();

	function showSlides() {
		let i;
		let slides = document.getElementsByClassName("mySlides");
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if (slideIndex > slides.length) { slideIndex = 1 }
		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 3000); // Change image every 2 seconds
	}
</script>
{% endblock %}

<!-- 
<style>
	#contact
	{
		display: none;
		background: grey;
		color: #FFF;
		padding: 10px;
	}
	
</style>

	<div id="contact">
    Contact me!
</div>
<a href="#" id="toggle">Contact</a>
<script src="{% static 'assets/jquery.min.js' %}"></script>

<script>
	$(function()
	{
		 $("a#toggle").click(function()
		 {
			 $("#contact").slideToggle();
			 return false;
		 }); 
	});

</script>
 -->