{% extends './base.html' %}
{% load static %}
{%block content %}
<section data-bs-version="5" class="header1 cid-sz55N7vCP2 mbr-fullscreen"
    style="height: 600px !important;min-height:500px !important;" id="header01-0">

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>
    <div class="align-center container">
        <div class="row">
            <div class="col-12 align-left col-lg-8">
                <div class="round"></div>
                <div class="round round2"></div>
                <div class="card-wrapper" style="height:500px !important;min-height:450px !important">
                    <h4 class="mbr-section-title mbr-fonts-style mbr-white mb-1 display-3">
                        <a class="" href="#">
                            <img src="{% static 'assets/images/cr-images/crlogo-tm.png' %}" alt="..."
                                style="width:400px; height:150px;padding:10px;">
                        </a>
                    </h4>
                    <!-- <p class="mbr-section-title px-4 h5 mbr-fonts-style mbr-white mb-1 display-7 mt-0   ">
                                     <strong>CredenceRewards</strong> 
                                </p> -->
                    <!-- <p class="mbr-text mbr-white mbr-fonts-style display-7">
                             Pick your card, personalise it and we'll take care of the rest!</p>  -->
                    <p class="mbr-text mbr-white mbr-fonts-style display-7">
                        <i>We’ve got gift cards for every celebration, from birthdays, mother’s day, anniversaries,
                            weddings,
                            baby showers and more.</i>
                    </p>
                    <p class="mbr-text mbr-white mt-2 mbr-fonts-style display-7">
                        Digital gift cards for everyone.</p>

                    <div class="mbr-section-btn mt-4"><a class="btn btn-lg btn-primary display-4" href="{% url 'accounts:login' %}" style="">Get
                            Started</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="features7 cid-sz56fQL1rV" id="features08-3">



    <div class="container">

        <div class="col-12 col-lg-12 pb-2">
            <h2 class="text-center"><strong>eGift cards for every occasion</strong></h2>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-0 display-5">Credence Rewards
                    makes personalised
                    eGifting easier than ever before! Send any Credence Reward eGift Card with a personal message and a
                    greeting card!.</h5>
        </div>

        <div class="row">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-idea mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>No fees!</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">
                            No Hidden fees! on voucher for any barnd
                            &nbsp;</p>


                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-user-2 mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Delivery</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">
                            Delivered instantly or at your scheduled time by SMS or email
                        </p>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-change-style mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Wallet</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">
                            Keep your cards at your fingertips with the digital wallet
                        </p>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-touch mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Portability</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">
                            No more plastic gift cards for landfill
                        </p>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-setting mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Processes</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">
                            CredenceRewards is always instant.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Support</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">
                            We provide 24 x 7 call and chat support for our users.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section data-bs-version="5" class="features9 cid-sz58oYjBZ7" id="features010-e">



    <div class="container">
        <div class="row glass">
            <div class="col-md-12 col-lg-4">

                <div class="image-wrapper">
                    <img src="{% static 'assets/images/cr-images/index-image.jpg' %}" alt="">

                </div>

            </div>



            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <h5 class="mbr-section-subtitle mbr-fonts-style align-left mb-5 mt-2 display-5">
                            <strong>Some unique features of <b>CredenceRewards</b>.</strong>
                        </h5>

                    </div>
                    <div class="col-lg-6 col-md-4 align-right m-auto">
                        <div class="mbr-section-btn mb-5">
                            <a class="btn btn-lg btn-primary display-4" href="#" style="">Get
                                Started</a>
                        </div>

                    </div>

                    <div class="card col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-box align-left">

                                <h5 class="card-title mbr-fonts-style display-7"><strong>01. Widest choice for the sender</strong></h5>
                                <p class="card-text mbr-fonts-style display-4">
                                    Pick from 100+ brands of gift cards, gift vouchers and e-gift cards&nbsp;</p>


                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-box align-left">

                                <h5 class="card-title mbr-fonts-style display-7"><strong>02. Unlimited choice for the recipient</strong></h5>
                                <p class="card-text mbr-fonts-style display-4">
                                    Gift your loved ones unlimited shopping choices at the store
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-box align-left">

                                <h5 class="card-title mbr-fonts-style display-7"><strong>03. Special templates
                                </strong></h5>
                                <p class="card-text mbr-fonts-style display-4">
                                    A variety of colourful templates to celebrate every occasion in life


                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-box align-left">

                                <h5 class="card-title mbr-fonts-style display-7"><strong>04. Fast delivery
                                </strong></h5>
                                <p class="card-text mbr-fonts-style display-4">E-gift cards are delivered instantly through E-mail


                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-box align-left">

                                <h5 class="card-title mbr-fonts-style display-7"><strong>05. E-Gift Cards</strong></h5>
                                <p class="card-text mbr-fonts-style display-4">
                                    You can buy E-Gift Cards for you need.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-box align-left">

                                <h5 class="card-title mbr-fonts-style display-7"><strong>06. Physical Gift Cards</strong></h5>
                                <p class="card-text mbr-fonts-style display-4">
                                    Option for physical gift card is also available in CredenceRewards
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="numbers1 cid-sz56uYA5zF" id="numbers01-a">



    <div class="container">

        <div class="col-12 m-auto col-lg-8 pb-5">
            <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-7">Our History</h3>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-5"><strong>
                We believe that there’s a perfect gift for everyone, which is why we offer you gift cards from 100+ reputed brands for every gifting occasion. Gift your loved ones the freedom of choice to select a product they truly desire.</strong></h5>
        </div>

        <div class="row">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">

                        <h5 class="card-title mbr-fonts-style display-2"><strong>2M +</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Happy Clients</p>


                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">

                        <h5 class="card-title mbr-fonts-style display-2"><strong>76 +</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Brands</p>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">

                        <h5 class="card-title mbr-fonts-style display-2"><strong>25 +</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Brand Partners
                        </p>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">

                        <h5 class="card-title mbr-fonts-style display-2"><strong>20 +</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Active Brand Client
                        </p>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">

                        <h5 class="card-title mbr-fonts-style display-2"><strong>400 +</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Professional Staff
                        </p>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">

                        <h5 class="card-title mbr-fonts-style display-2"><strong>8 + </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Years of experience in Gift-Cards
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="clients2 cid-sz583xO0z3" id="clients02-d">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);">
    </div>
    <div class="images-container container">
        <div class="mbr-section-head bg-light">
            <h3 class="mbr-section-title mbr-fonts-style  align-center mb-2 display-7">
                OUR CLIENTS</h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center pb-4 display-5"><strong>We love to work
                    with our clients</strong>
            </h4>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-3 col-md-4">
                <div class="card-wrapper">
                    <img src="{% static 'assets/images/cr-images/crlogo-tm.png' %}" >
                </div>
            </div>
            <div class="col-lg-3 col-md-4 ">
                <div class="card-wrapper">
                    <img src="{% static 'assets/images/cr-images/crlogo-tm.png' %}" >
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card-wrapper">
                    <img src="{% static 'assets/images/cr-images/crlogo-tm.png' %}" >
                </div>
            </div>

        </div>
    </div>
</section>
<!-- 
<section data-bs-version="5" class="team1 cid-sz56pECb7o" id="team01-6">

    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-left mb-0 display-7">OUR TEAM</h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-5"><strong>Lorem ipsum
                    dolor sit
                </strong><br><strong>amet, consectetur eget. </strong><br></h5>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'assets/images/team2.jpg' %}">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title align-left mbr-fonts-style display-4">Designer</h5>

                        <p class="mbr-text align-left mbr-fonts-style pb-1 display-7"><strong>James
                                Brown</strong></p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'assets/images/team1.jpg' %}">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title align-left mbr-fonts-style display-4">Manager</h5>

                        <p class="mbr-text align-left mbr-fonts-style pb-1 display-7"><strong>Ann Smith</strong>
                        </p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'assets/images/team3.jpg' %}">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title align-left mbr-fonts-style display-4">Developer</h5>

                        <p class="mbr-text align-left mbr-fonts-style pb-1 display-7"><strong>Ben Jason</strong>
                        </p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="video1 cid-sz56mNQ5nk" id="video01-5">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(38, 61, 90);">
    </div>
    <div class="align-center container">

        <div class="row justify-content-center">
            <div class="col-12 col-lg-">
                <div class="box">
                    <div class="mbr-media show-modal align-center" data-modal=".modalWindow">
                        <div class="icon-wrap">
                            <a class="" href="#"><span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span></a>
                        </div>
                        <div class="mbr-section-head">
                            <h4 class="mbr-section-title mbr-fonts-style mt-5 display-2"><strong>Watch
                                    Video</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1"
                            data-src="https://www.youtube.com/watch?v=qy3JblwU8L0"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal" data-bs-dismiss="modal">
                        <span aria-hidden="true" class="mbr-iconfont mobi-mbri-close mobi-mbri closeModal"></span>
                        <span class="sr-only visually-hidden">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- 
<section data-bs-version="5" class="article7 cid-sz56lVD1I8" id="content07-4">

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>
    <div class="align-center container">
        <div class="card-wrapper">
            <div class="row ">
                <div class="col-12 col-lg-8 pb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-7">NEWS CENTER</h3>
                    <h5 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-2"><strong>Our
                            Latest News</strong></h5>
                </div>
            </div>
            <div class="row row-border">
                <div class="card col-12 align-left col-lg-2">
                    <h2 class="mbr-section-subtitle mbr-fonts-style mbr-white display-7"><strong>10 Jul</strong>
                    </h2>
                </div>
                <div class="card col-12 align-left col-lg-7">
                    <p class="mbr-text mbr-white mbr-fonts-style display-5"><strong>Lorem ipsum dolor sit
                            amet</strong></p>
                </div>
                <div class="card col-12 align-right col-lg-3">
                    <p class="mbr-link mbr-white mbr-fonts-style display-4"><a href="#" class="text-success">Full
                            Article &gt;</a></p>
                </div>
            </div>
            <div class="row row-border">
                <div class="card col-12 align-left col-lg-2">
                    <h2 class="mbr-section-subtitle mbr-fonts-style mbr-white display-7"><strong>12 Jul</strong>
                    </h2>
                </div>
                <div class="card col-12 align-left col-lg-7">
                    <p class="mbr-text mbr-white mbr-fonts-style display-5"><strong>Cras elementum nunc sed
                            rutrum&nbsp;</strong><br></p>
                </div>
                <div class="card col-12 align-right col-lg-3">
                    <p class="mbr-link mbr-white mbr-fonts-style display-4"><a href="#" class="text-success">Full
                            Article &gt;</a></p>
                </div>
            </div>
            <div class="row row-border">
                <div class="card col-12 align-left col-lg-2">
                    <h2 class="mbr-section-subtitle mbr-fonts-style mbr-white display-7"><strong>14 Jul</strong>
                    </h2>
                </div>
                <div class="card col-12 align-left col-lg-7">
                    <p class="mbr-text mbr-white mbr-fonts-style display-5"><strong>Vivamus faucibus
                            condimentum</strong><br></p>
                </div>
                <div class="card col-12 align-right col-lg-3">
                    <p class="mbr-link mbr-white mbr-fonts-style display-4"><a href="#" class="text-success">Full
                            Article &gt;</a></p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- 
<section data-bs-version="5" class="contacts4 cid-sz56r2ZeJA" id="contacts04-7">


    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">



        <div class="row">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-center">

                        <h5 class="card-title mbr-fonts-style display-7"><strong>Idaho</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">Boise 2336 Young Road<br>office@yoursite.com
                        </p>
                        <h6 class="card-link mbr-fonts-style display-7"><strong>(123)456 789 012</strong></h6>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-center">

                        <h5 class="card-title mbr-fonts-style display-7"><strong>Missouri</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">Liberty 3924 Traders
                            Alley<br>office@yoursite.com<br></p>
                        <h6 class="card-link mbr-fonts-style display-7"><strong>(123)456 789 012</strong></h6>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-center">

                        <h5 class="card-title mbr-fonts-style display-7"><strong>Illinois</strong></h5>
                        <p class="card-text mbr-fonts-style display-4">Chicago&nbsp;2655 Farland
                            Street<br>office@yoursite.com<br>
                        </p>
                        <h6 class="card-link mbr-fonts-style display-7"><strong>(123)456 789 012</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section data-bs-version="5" class="accordion1 cid-sz57ONqHWB" id="Accordion01-c">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-12">
                <h2 class="mbr-fonts-style mbr-section-title pb-3 mb-1 mbr-white mbr-semibold align-left display-2">
                    <strong>Frequently
                    </strong>
                    <div><strong>Asked Questions</strong></div>
                </h2>


                <div class="content-block">
                    <div class="accordion-content">
                        <div id="bootstrap-accordion_10" class="panel-group accordionStyles accordion " role="tablist"
                            aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="collapsed panel-title" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse1_10"
                                        aria-expanded="false" aria-controls="collapse1">
                                        <h4 class="mbr-fonts-style header-text mbr-white mbr-semibold display-7">
                                            Is there charges for giftcards for credencerewards</h4>
                                        <span class="sign mbr-iconfont mobi-mbri-plus inactive"></span>

                                    </a>
                                </div>
                                <div id="collapse1_10" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingOne" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_10">
                                    <div class="panel-body pt-4">
                                        <p
                                            class="mbr-fonts-style panel-text mbr-text mbr-white mb-3 mbr-regular display-4">
                                            No, there is not ay hidden are transactional charges for purchasing gift-cards from credencerewards.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a role="button" class="collapsed panel-title" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse2_10"
                                        aria-expanded="false" aria-controls="collapse2">
                                        <h4 class="mbr-fonts-style header-text mbr-white mbr-semibold display-7">
                                            Are there any shipping charges ?</h4>
                                        <span class="sign mbr-iconfont mobi-mbri-plus inactive"></span>
                                    </a>

                                </div>
                                <div id="collapse2_10" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingTwo" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_10">
                                    <div class="panel-body pt-4">
                                        <p
                                            class="mbr-fonts-style panel-text mbr-text mbr-white mb-3 mbr-regular display-4">
                                            No,We don’t charge any extra shipping charge.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a role="button" class="collapsed panel-title" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse3_10"
                                        aria-expanded="false" aria-controls="collapse3">
                                        <h4 class="mbr-fonts-style header-text mbr-white mbr-semibold display-7">
                                            How does the gift card delivered ?</h4>
                                        <span class="sign mbr-iconfont mobi-mbri-plus inactive"></span>

                                    </a>
                                </div>
                                <div id="collapse3_10" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingThree" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_10">
                                    <div class="panel-body pt-4">
                                        <p
                                            class="mbr-fonts-style panel-text mbr-text mbr-white mb-3 mbr-regular display-4">
                                            The gift card is delivered in your email within 15minutes.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <a role="button" class="collapsed panel-title" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse4_10"
                                        aria-expanded="false" aria-controls="collapse4">
                                        <h4 class="mbr-fonts-style header-text mbr-white mbr-semibold display-7">
                                            Can I cancel my order ?</h4>
                                        <span class="sign mbr-iconfont mobi-mbri-plus inactive"></span>

                                    </a>
                                </div>
                                <div id="collapse4_10" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingFour" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_10">
                                    <div class="panel-body pt-4">
                                        <p
                                            class="mbr-fonts-style panel-text mbr-text mbr-white mb-3 mbr-regular display-4">
                                            You can’t cancel or return the gift card after order placed.</p>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="form3 cid-sz56s32iCe" id="form03-8">

    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-5 mbr-form">
                <h3 class="section-content-subtitle pb-2 align-left mbr-fonts-style display-4">CALL US</h3>
                <h4 class="section-content-title pb-2 align-left mbr-fonts-style display-2"><strong>+91 9920950509
                        </strong></h4>
                        <h4 class="section-content-title pb-2 align-left mbr-fonts-style display-2"><strong>Bhavik Samani
                        </strong></h4>
                <p class="section-content-text align-left pb-4 mbr-fonts-style display-4"><strong>Address
                        1:</strong>
                        <br>Laxmi Shoppe Shop No. 3,
                    <br>Opposite Neem Chhaya,
                    <br>Below Ramji Ashar School,<br>M.G. Road, Ghatkopar - (East),
                    <br>Mumbai - 400077,<br>India

                    <br><br><strong><br></strong><br><strong>Email:&nbsp;</strong>bhavik@credencerewards.com
                </p>
            </div>
            <div class="col-lg-7 mx-auto" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                    data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                        value="aE0VQrQ2xBKfmld9DDyWE8ZBP4aiSnmnFr6M3gPDxgfwodHv0xAEUUVXhofQ1fUcLZejefX2RC5FX9MLHZxHkuW7WH6cnR/PO/x8cxPab6aJBb/jEaZupnaXC8kqhHHG.G8mWkc3AS26dCGJqcQJTlN4Dyhvlu2x4ja2Aco4j3kaTRDsGYnhKA+Ikz3yNuxvgkFp/XBOuserXi0Eb07i5o+cTHrS2HwWa+uoigACqpvgIHemg6wCWheiLbPkSQ64s">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for
                            filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...!
                            some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name"
                                class="form-control display-7" value="" id="name-form03-8">
                        </div>
                        <div data-for="email" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3">
                            <input type="email" name="email" placeholder="Email" data-form-field="email"
                                class="form-control display-7" value="" id="email-form03-8">
                        </div>
                        <div data-for="subject" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="subject" placeholder="Subject" data-form-field="subject"
                                class="form-control display-7" value="" id="subject-form03-8">
                        </div>
                        <div data-for="phone" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3">
                            <input type="tel" name="phone" placeholder="Phone" data-form-field="phone"
                                class="form-control display-7" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value=""
                                id="phone-form03-8">
                        </div>
                        <div data-for="message" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <textarea name="message" placeholder="Message" data-form-field="message"
                                class="form-control display-7" id="message-form03-8"></textarea>
                        </div>
                        <div class="col-auto"><button type="submit" class="btn btn-primary display-4">Send your
                                message</button></div>
                    </div>
                </form>
                <!--Formbuilder Form-->
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="map1 cid-sz57A2ay7Y" id="contacts01-b">


    <div class="container">

        <div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.6469201822993!2d72.90361019145512!3d19.08185777447061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6293a5c0969%3A0x2d6a5ba2ce9fe093!2sCredence%20Rewards!5e0!3m2!1sen!2sin!4v1669198892245!5m2!1sen!2sin"
             width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
</section>

{% endblock %}