{% extends './base.html' %}
{% load static %}
{%block content %}

<section data-bs-version="5" class="team1 cid-sz56pECb7o" id="team01-6">
    
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-left mb-0 display-7">Our Services</h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-5"><strong>CredenceRewards
                </strong><br><strong>Provider for Digital gift cards for everyone. </strong><br></h5>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                      <img src="{% static 'assets/images/cr-images/login-pic.jpg' %}">
                    </div>
                    <div class="item-content rounded bg-secondary align-left">
                        <h5 class="item-title align-left mbr-fonts-style display-4">Digital gift cards for everyone.</h5>

                        <p class="mbr-text align-left mbr-fonts-style pb-1 display-7"><strong>
                        Pick your card, personalise it and we'll take care of the rest!. Delivered instantly or at your scheduled time by SMS or email
                        </strong></p>
                        <div class="social-row bg-success display-7">
                            <div class="soc-item">
                                 <a href="" target="_blank">
                                    Order Now
                                </a>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'assets/images/cr-images/login-pic.jpg' %}">
                    </div>
                    <div class="item-content rounded bg-dark align-left">
                        <h5 class="item-title  align-left mbr-fonts-style display-4">eGift cards for every occasion.</h5>

                        <p class="mbr-text align-left mbr-fonts-style pb-1 display-7"><strong>
                        Whatever you're celebrating - a birthday, housewarming, wedding, new baby, anniversary, or just to say, 'Hey, I'm thinking of you!' - we've got just the right eGift! Our eGift cards are the perfect environmentally friendly gift for any occasion.
                        </strong>
                        </p>
                        <div class="social-row bg-info display-7">
                            <div class="soc-item">
                                 <a href="" target="_blank">
                                    Order Now
                                </a>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                      <img src="{% static 'assets/images/cr-images/login-pic.jpg' %}">
                    </div>
                    <div class="item-content rounded bg-primary align-left">
                        <h5 class="item-title align-left mbr-fonts-style display-4">Personalise it!.</h5>

                        <p class="mbr-text align-left mbr-fonts-style pb-1 display-7"><strong>
                        Credence Rewards makes personalised eGifting easier than ever before! Send any Credence Reward eGift Card with a personal message and a greeting card! Get creative and make it a stand-out gift that's meaningful and magical!.

                        </strong>
                        </p>
                        <div class="social-row bg-primary display-7">
                            <div class="soc-item">
                                 <a href="" target="_blank">
                                    Order Now
                                </a>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5" class="numbers1 cid-sz56uYA5zF" id="numbers01-a">



  <div class="container">

      <div class="col-12 m-auto col-lg-8 pb-5">
          <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-7">Our History</h3>
          <h5 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-5"><strong>
              We believe that there’s a perfect gift for everyone, which is why we offer you gift cards from 100+ reputed brands for every gifting occasion. Gift your loved ones the freedom of choice to select a product they truly desire.</strong></h5>
      </div>

      <div class="row">
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-wrapper">
                  <div class="card-box align-left">

                      <h5 class="card-title mbr-fonts-style display-2"><strong>2M +</strong></h5>
                      <p class="card-text mbr-fonts-style display-7">Happy Clients</p>


                  </div>
              </div>
          </div>
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-wrapper">
                  <div class="card-box align-left">

                      <h5 class="card-title mbr-fonts-style display-2"><strong>76 +</strong></h5>
                      <p class="card-text mbr-fonts-style display-7">Brands</p>

                  </div>
              </div>
          </div>
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-wrapper">
                  <div class="card-box align-left">

                      <h5 class="card-title mbr-fonts-style display-2"><strong>25 +</strong></h5>
                      <p class="card-text mbr-fonts-style display-7">Brand Partners
                      </p>

                  </div>
              </div>
          </div>
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-wrapper">
                  <div class="card-box align-left">

                      <h5 class="card-title mbr-fonts-style display-2"><strong>20 +</strong></h5>
                      <p class="card-text mbr-fonts-style display-7">Active Brand Client
                      </p>

                  </div>
              </div>
          </div>
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-wrapper">
                  <div class="card-box align-left">

                      <h5 class="card-title mbr-fonts-style display-2"><strong>400 +</strong></h5>
                      <p class="card-text mbr-fonts-style display-7">Professional Staff
                      </p>

                  </div>
              </div>
          </div>
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-wrapper">
                  <div class="card-box align-left">

                      <h5 class="card-title mbr-fonts-style display-2"><strong>8 + </strong></h5>
                      <p class="card-text mbr-fonts-style display-7">Years of experience in Gift-Cards
                      </p>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- slider section -->
<section data-bs-version="5" class="numbers1 cid-sz56uYA5zF" id="numbers01-a">
    <div class="container">

        <div class="col-12 m-auto col-lg-8 pb-5">
            <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-7">OUR FEATURES</h3>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-5"><strong>We Are CredenceRewards.</strong></h5>
        </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="{% static 'assets/images/cr-images/egift_card-au.png' %}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              We Are CredenceRewards
            </h2>
          </div>
          <p class="display-7">
            We believe that there’s a perfect gift for everyone, 
            which is why we offer you gift cards from 100+ reputed brands for
             every gifting occasion. Gift your loved ones the freedom of choice to 
             select a product they truly desire.<br>
             For your last-minute gifting needs, we have e-gift cards from the
              leading brands in the country. Gift cards and e-gift cards also give the
               recipients the freedom to shop at an outlet close to their home or office.
                Experience new-age gifting with Credence Rewards - India's most powerful 
                gifting platform.

          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- client section -->
<section data-bs-version="5" class="clients2 cid-sz583xO0z3" id="clients02-d">
    
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);">
    </div>
    <div class="images-container container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title text-white mbr-fonts-style align-center mb-2 display-7">
                <span class="bg-secondary p-2">What Our Customers Say</span></h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center pb-4 display-5"><strong class="text-primary bg-info">We love to work with our clients</strong>
            </h4>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-3 col-md-4">
                <div class="card-wrapper">
                <p class="text-success font-weight-bold text-center">Widest choice <br> for the sender<p>
                    <img src="{% static 'assets/images/cr-images/login-pic.jpg' %}">
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card-wrapper">
            <p class="text-success text-center font-weight-bold">Unlimited choice <br> for the recipient<p>
              <img src="{% static 'assets/images/cr-images/login-pic.jpg' %}">
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card-wrapper">
                            <p class="text-success text-center font-weight-bold">Multiple Brands <br>Choices<p>
                    <img src="{% static 'assets/images/cr-images/login-pic.jpg' %}">
                </div>
            </div>
            
        </div>
    </div>
</section>




{% endblock %}